<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnailTime</title>
    <link rel="stylesheet" href="../public/css/styles.css"
</head>
<body>
    <div class="single-snail-div">
         <h1><%= snail.name%></h1>
         <img src="<%= snail.image %>" alt"<%= snail.name %>"></img>
         <div><p></p><strong>Shell Length: </strong><%= snail.shellLength %></p></div>
         <div><p></p><strong>Habitat: </strong> <%= snail.habitat %></p></div>
         <p><%= snail.info %></p>
    </div>
   
</body>
</html>